{% extends "base.html.twig" %}

{% block title %}Activation Complete{% endblock %}
{% block content %}
	<h1>Account activated</h1>
	<p>
		Your account has been successfully activated. You are now able to login.
	</p>
{% endblock %}