<!DOCTYPEE html>
<html>
	<head>
		{% block head %}
			<link rel="stylesheet" href="/style.css" />
			<title>{% block title %}{% endblock %}</title>
		{% endblock %}
	</head>
	<body>
		<div id="wrapper">
			<div id="headerwrapper">
        		<div id="header">
        			<h1 class="title">The Forum</h1>
        		</div>
        		<div id="navigation">
        			<ul class="navigation">
        				<li>
        					<a href="/">Home</a>
        				</li>
        				{% for array in topicService.getAllTopics() %}
        				<li>
        					<a href="/topic/{{ array[0] }}">{{ array[0] }}</a>
        				</li>
        				{% endfor %}
        				{% if _SESSION.get("username") != "" %}
        				<li class="right">
        					<a href="/logout/{{ _SESSION.get("token") }}">Logout</a>
        				</li>
        				<li class="right">
        					<a href="/createpost">Post Something</a>
        				</li>
        				{% else %}
        				<li class="right">
        					<a href="/login">Login</a>
        				</li>
        				<li class="right">
        					<a href="/register">Register</a>
    					</li>
        				{% endif %}
        			</ul>
        		</div>
    		</div>
    		<div id="content">{% block content %}{% endblock %}</div>		
    		<div id="footer">{% block footer %}{% endblock %}</div>
		</div>
	</body>
</ĥtml>