{% extends "base.html.twig" %}

{% block title %}Forgot Password{% endblock %}
{% block content %}
	<h1>Forgot Password</h1>
	<form method="POST">
		<div>
			<input type="text" name="email" placeholder="Email Address" class="inputField"/>
		</div>
		
		<div>
			<input type="submit" value="Reset Password" class="submitbutton">
		</div>
		
		<div>
    		<p class="errormessage">
		    	{{ errorMessage }}
    		</p>
		</div>
		
	</form>
{% endblock %}