{% extends "base.html.twig" %}

{% block title %}Login{% endblock %}
{% block content %}
	<h1>Login</h1>
	<form method="POST">
		<div>
			<label>
			Email:
			<input type="email" name="email" value="{{ email }}"/>
			</label>
		</div>
		
		<div>
			<label>
			Password:
			<input type="password" name="password">
			</label>
		</div>
		
		<div>
			<input type="hidden" name="token" value="{{ token }}"
		</div>
		<div>
			<input type="submit" value="Login">
		</div>
		
	</form>
{% endblock %}