{% extends "base.html.twig" %}

{% block title %}Registered{% endblock %}
{% block content %}
	<h1>Registered</h1>
	<p>
		You have been successfully registered and received an e-mail with an activation link to activate your account.
	</p>
{% endblock %}