{% extends "base.html.twig" %}

{% block title %}Password Reset{% endblock %}
{% block content %}
	<h1>Password Reset</h1>
	<p>
		Your password has successfully been changed. You can now login with your new password.
	</p>
	<p>
		<a href="/login">Go back to the login page</a>
	</p>
{% endblock %}