{% extends "base.html.twig" %}

{% block title %}Reset Password{% endblock %}
{% block content %}
	<h1>Reset Password</h1>
	<form method="POST">
		<div>
			<input type="password" name="password" placeholder="New Password" class="inputField"/>
		</div>
		
		<div>
			<input type="password" name="confirmPassword" placeholder="Confirm New Password" class="inputField"/>
		</div>
		<div>
			<input type="hidden" name="resetToken" value="{{ resetToken }}"/>
		</div>
		<div>
			<input type="submit" value="Reset Password" class="submitbutton"/>
		</div>
		<div>
    		<p class="errormessage">
		    	{{ errorMessage }}
    		</p>
		</div>
	</form>
{% endblock %}